* {
  box-sizing: border-box;
  font-family: 'Rubik Mono One', sans-serif; }

.sky {
  position: absolute; }

#star-six {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #fad340;
  position: relative; }

#star-six:after {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid #fad340;
  position: absolute;
  content: "";
  top: 20px;
  left: -30px; }

#moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #fad340; }

.castle-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 200px; }

.grey1-color {
  background-color: #b9b7b7; }

.grey2-color {
  background-color: #8c8a8a; }

.grey3-color {
  background-color: #b3b0b0; }

.grey4-color {
  background-color: #a5a5a5; }

.tower-left {
  position: relative; }
  .tower-left .sky {
    top: -150px;
    left: -50px; }

.tower-right {
  position: relative; }
  .tower-right .sky {
    top: -180px;
    right: -20px; }

.tower-narrow {
  width: 150px;
  margin: 0 auto;
  position: relative; }

.tower-wide {
  width: 200px; }

.tower-divider {
  background-color: #8c8a8a;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border: 2px solid #423636; }
  .tower-divider .brick {
    position: relative;
    top: -37px; }

.tower-window {
  background-color: #f7c506;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  top: 40%;
  transform: translateY(-50%);
  border: 4px solid #423636; }
  .tower-window:after {
    content: "";
    display: block;
    width: 15px;
    height: 44px;
    background-color: #f7c506;
    margin: 0 auto;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: -46px;
    border: 4px solid #423636;
    border-bottom: none; }

.tower-middle {
  position: relative;
  bottom: 170px; }

.tower-crown span {
  height: 30px !important;
  width: 20% !important;
  border: 2px solid #423636; }

.bricks:nth-child(1) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(1) span:nth-child(1) {
  width: 61px; }
.bricks:nth-child(1) span:nth-child(2) {
  width: calc(100% - 61px - 5px); }

.bricks:nth-child(2) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(2) span:nth-child(1) {
  width: 76px; }
.bricks:nth-child(2) span:nth-child(2) {
  width: calc(100% - 76px - 5px); }

.bricks:nth-child(3) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(3) span:nth-child(1) {
  width: 79px; }
.bricks:nth-child(3) span:nth-child(2) {
  width: calc(100% - 79px - 5px); }

.bricks:nth-child(4) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(4) span:nth-child(1) {
  width: 97px; }
.bricks:nth-child(4) span:nth-child(2) {
  width: calc(100% - 97px - 5px); }

.bricks:nth-child(5) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(5) span:nth-child(1) {
  width: 58px; }
.bricks:nth-child(5) span:nth-child(2) {
  width: calc(100% - 58px - 5px); }

.bricks:nth-child(6) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(6) span:nth-child(1) {
  width: 76px; }
.bricks:nth-child(6) span:nth-child(2) {
  width: calc(100% - 76px - 5px); }

.bricks:nth-child(7) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(7) span:nth-child(1) {
  width: 92px; }
.bricks:nth-child(7) span:nth-child(2) {
  width: calc(100% - 92px - 5px); }

.bricks:nth-child(8) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(8) span:nth-child(1) {
  width: 87px; }
.bricks:nth-child(8) span:nth-child(2) {
  width: calc(100% - 87px - 5px); }

.bricks:nth-child(9) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(9) span:nth-child(1) {
  width: 87px; }
.bricks:nth-child(9) span:nth-child(2) {
  width: calc(100% - 87px - 5px); }

.bricks:nth-child(10) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(10) span:nth-child(1) {
  width: 65px; }
.bricks:nth-child(10) span:nth-child(2) {
  width: calc(100% - 65px - 5px); }

.bricks:nth-child(11) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(11) span:nth-child(1) {
  width: 61px; }
.bricks:nth-child(11) span:nth-child(2) {
  width: calc(100% - 61px - 5px); }

.bricks:nth-child(12) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(12) span:nth-child(1) {
  width: 54px; }
.bricks:nth-child(12) span:nth-child(2) {
  width: calc(100% - 54px - 5px); }

.bricks:nth-child(13) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(13) span:nth-child(1) {
  width: 71px; }
.bricks:nth-child(13) span:nth-child(2) {
  width: calc(100% - 71px - 5px); }

.bricks:nth-child(14) span {
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  margin-right: 2px;
  border: 2px solid #423636; }
.bricks:nth-child(14) span:nth-child(1) {
  width: 58px; }
.bricks:nth-child(14) span:nth-child(2) {
  width: calc(100% - 58px - 5px); }

.text {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem; }

/*# sourceMappingURL=main.css.map */
